<div class="container">
  <div class="about-me">
    <p class="about-me-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum molestiae repellat iure
      inventore nulla, omnis dolor corporis excepturi assumenda non iste ipsum minima quasi quam nemo eum delectus ipsa
      tempore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestiae qui in beatae dolores reiciendis
      a unde nam, nostrum inventore fugit quis labore aliquam nesciunt consequuntur at? Itaque, optio repellat.</p>
  </div>

  <app-project>

  </app-project>

</div>