.container {
    display: grid;
    justify-content: center;
    width: 100%;
}

.about-me {
    max-width: 600px;
    padding: 16px;
    font-size: 24px;
    background-color: white;
    border-radius: 16px;
    margin-top: 16px;
}

.about-me-text {
    font-family: 'Padauk', sans-serif;
}