* {
    margin: 0;
    padding: 0;
}

.bold-text {
    font-weight: 700;
}

.custom-font { 
    font-family: 'Padauk', sans-serif;
}

.card {
    max-width: 700px;
    padding: 16px;
    font-size: 24px;
    background-color: white;
    border-radius: 16px;
    margin-top: 16px;
    cursor: pointer;
}

.card:hover {
    transition: 0.2s;
    opacity: 0.8;
}